@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.content {
  background-color: #3a3939;
}
.container {
  max-width: 100%;
  margin: 0 1vw;
  min-height: 100vh;
  padding-top: 30px;
  padding-bottom: 50px;
  padding-bottom: 70px;
}
.animeContainer {
  display: grid;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-columns: repeat(3, minmax(390px, 500px));
  grid-template-rows: repeat(auto-fill, 265px);
  justify-content: center;
  min-width: 0;
  width: 100%;
}
.loading {
  font-size: 5rem;
  letter-spacing: -1;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  color: #c7c7c7;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  z-index: 9;
  animation: colorchange 1s infinite;
}
@keyframes colorchange {
  0% {
    color: black;
  }
  50% {
    color: #c7c7c7;
  }
  100% {
    color: black;
  }
}
.errorpage {
  color: #c7c7c7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.message img {
  width: 270px;
  height: auto;
}
.basicMassage {
  width: 100%;
  font-size: 18px;
  text-align: center;
  color: #c7c7c7;
  font-weight: bold;
  margin-top: 20px;
}
@media (max-width: 1350px) {
  .animeContainer {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-template-columns: repeat(2, minmax(430px, 500px));
  }
}
@media (max-width: 950px) {
  .container {
    max-width: 100%;
  }
  .animeContainer {
    grid-row-gap: 20px;
    grid-template-columns: repeat(1, minmax(430px, 600px));
  }
}
@media (max-width: 450px) {
  .container {
    max-width: 100%;
  }
  .animeContainer {
    grid-template-columns: repeat(1, minmax(320px, 450px));
  }
}
@media (min-width: 2000px) {
  .container {
    max-width: 2000px;
    margin: auto;
  }
  .animeContainer {
    grid-template-columns: repeat(4, minmax(390px, 460px));
  }
}
